<app-header></app-header>
<div>
    <h1>Total a pagar</h1>

    <div id="pago">
        <p>
            $20.00
        </p>
    </div>
    
        <button id="hacer">Hacer pago</button>
        <button id="registrar"(click)="navigate()">Registrar tarjeta</button>
    
</div>
<div class="container">
    <table class="recent-table">
      <thead>
        <tr>
          <th colspan="3">Reciente</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>suchiapa<br>tuxtla</td>
          <td class="arrow">→</td>
          <td>$20.00</td>
        </tr>
        <tr>
          <td>tuxtla<br>suchiapa</td>
          <td class="arrow">→</td>
          <td>$20.00</td>
        </tr>
      </tbody>
    </table>
  </div>
  