<app-header-c></app-header-c>
<div>
  <h1>Liberar</h1>
  <div id="container">
    <div id="div2">
      <div id="mini_div">
        <div>
  <p>Asientos Disponibles: {{ asientosDisponibles }}</p>
  
  <button 
  id="btn-liberar"
    (click)="liberar()" 
    [disabled]="asientosDisponibles <= 0"
    class="btn btn-primary">
    Liberar 
  </button>

  <button  id="btn-cancelar"
    (click)="cancelar()" 
    class="btn btn-secondary">
    Cancelar
  </button>
</div>

      </div>
    </div>
    <div id="div1">
      <img id="img1" src="./urban.webp" alt="Imagen del colectivo">
    </div>
  </div>
  
</div>
